<div class="left-scroller-holder">

        <div class="text-holder">
            <!--<div class="css-scroller-text" ng-class="{ 'scroll-left': message.scrolling }">{{message.text}}</div>-->
            <div id="slider" class="text-slider" ng-style="{ 'left': slider.leftPos+'px' }">
                <span ng-repeat="m in messageArray track by $index">
                     <div class="fl msg">{{ m }}</div>
                     <div class="fl msg-img"><img src="assets/img/budbottle.png"/></div>
                </span>

                <!--<span class="msg">Message One</span>
                <span class="msg">Message Two</span>
                <span class="msg">Message Three, if You Could Not Guess</span>
                <span class="msg">Message Four</span>
                <span class="msg">Message Five</span>-->
            </div>

        </div>
        <div class="logo-holder">
            <img class="logo" src="assets/img/sponsor.png"/>
        </div>

</div>