<style>
    /*@font-face {*/
        /*font-family: "POPBLACK";*/
        /*src: url('../fonts/Poppins/Poppins-SemiBold.ttf');*/
    /*}*/

    .ogappheader {
        display: table;
        font-family: POPBLACK;
        font-size: 2em;
        font-weight: bold;
        height: 60px;
        margin: 0px 0px 10px 0px;
    }

    .ogappheadertext {
        display: table-cell;
        vertical-align: middle;
    }

    .ogappheaderside {
        height: 60px;
        width: 20px;
        background-color: #21b9e6;
        float: left;
        margin-right: 10px;
    }
</style>

<div class="ogappheader">
    <div class="ogappheaderside"></div>
    <div class="ogappheadertext"> {{ name | uppercase}} </div>
</div>