<!DOCTYPE html>
<html ng-app="ogSquaresApp">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <script src="../../../../common/bower_components/angular/angular.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>

    <!-- App Main and AngularJS Routes -->
    <script src="app/ogSquaresApp.module.js"></script>
    <!--<script src="../../../../common/js/ogAPI.js"></script>-->

    <!-- App Main and AngularJS Routes -->

    <script src="../../../../common/js/uiOGMobile/uiOGMobile.js"></script>
    <script src="../../../../common/js/ogAPI2.js"></script>

    <!-- Controllers -->
    <script src="app/components/mainscreen/mainscreen.controller.js"></script>

    <!-- App Specific and Overridden CSS -->
    <link href="../../../../common/css/og.css" rel="stylesheet">
    <link href="assets/css/squares-og-style.css" rel="stylesheet">

    <title>Ourglass Squares</title>

</head>
<body ng-controller="mainScreenController">

    <div class="wrapper">
        <div class="app-header"> Squares </div>

        <div class="current-game">
            <div class="titler">Game</div>
            {{ game.home.team }} <br>
            vs. <br>
            {{ game.away.team }}
        </div>

        <div class="game-stats">
            <div ng-if="game.status" class="titler">Current Score</div>
            <div ng-if="!game.status" class="titler">Final Score</div>
            {{ game.home.score }} to {{ game.away.score }}
        </div>

        <div class="current-winner">
            <div ng-if="game.status" class="titler">Current Winner</div>
            <div ng-if="!game.status" class="titler">Winner</div>
            {{ currentWinner }}
        </div>
    </div>

    <div class="logo-holder">
        <og-advert type="widget" interval="30000"></og-advert>
    </div>

</body>
</html>