<style>

    .og-secondary-tab-bar {
        width: 100%;
        margin-top: -3px;
        margin-bottom: 5px;
        display: flex;
    }

    .og-secondary-tab-bar .btn {
        width: 50vw;
        background-color: rgba(12, 184, 215, 0.76);
        color: #d0d0d0;
        flex-grow: 1;
        margin: 0 1px 0 1px;
    }

    .scroll-area {
        /*The height must be manually updated determined by the screen size*/
        height: 73vh;
        /*height: 65vh;*/
        /*background-color: green;*/
        overflow-y: scroll;
    }

    /*.station-container {*/
        /*float: left;*/
        /*display: inline;*/
        /*border: 1px solid green;*/
    /*}*/

    .loading-box {
        color: black;
        text-align: center;
        font-size: 2em;
    }

    .current-channel {
        margin-top: 1vh;
        /*border: 1px solid hotpink;*/
    }

    .search-box {
        margin-top: 1vh;
        margin-bottom: 0;
        /*border: 1px solid red;*/
    }

    .pagination-controls {
        /*border: 1px solid red;*/
    }

    .pagination-controls .btn {
        background-color: rgba(12, 184, 215, 0.76);
        color: #d0d0d0;

    }

</style>

<div class="container">
    <div class="row" ng-show="!ui.isPaired">
        <div class="offset-col-1 col-md-10" style="margin-top: 10px;">
            <p>This Ourglass system is not paired with a satellite or cable box. To control the TV through Ourglass, please pair this system.</p>
        </div>
    </div>
    <div class="row" ng-show="ui.isPaired">
        <div class="col-md-12">
            <div class="og-secondary-tab-bar">
                <a class="btn btn-default" ng-click="refineSearch('all')"
                   ng-class="{ 'tabon': ui.refineSearch == 'all' }"> ALL </a>
                <a class="btn btn-default" ng-click="refineSearch('favorites')"
                   ng-class="{ 'tabon': ui.refineSearch == 'favorites' }"> FAVORITES </a>
                <a class="btn btn-default" ng-click="refineSearch('sports')"
                   ng-class="{ 'tabon': ui.refineSearch == 'sports' }"> SPORTS </a>
                <a class="btn btn-default" ng-click="refineSearch('news')"
                   ng-class="{ 'tabon': ui.refineSearch == 'news' }"> NEWS </a>
            </div>

            <div class="current-channel">
                Currently Watching: {{ currentChannel.callsign }} on channel {{ currentChannel.channelNumber }}
            </div>

            <form class="search-box">
                <div class="form-group">
                    <label style="font-weight: normal" for="inputStationName">Search by anything...</label>
                    <input type="text" class="form-control" id="inputStationName" placeholder="Station Name"
                           ng-model="stationSearch" ng-model-options="{ debounce: 100 }">
                </div>
            </form>

            <div class="scroll-area" scroll-window window-size="30"
                edge-callback="atEdge"
                limits="scrollLimits" >


                    <station-cell ng-repeat="grid in displayedGrid"
                                  grid="grid" search="stationSearch"></station-cell>


            </div>

            <!--<div class="pagination-controls" ng-if="ui.refineSearch != 'favorites'">-->
                <!--<dir-pagination-controls></dir-pagination-controls>-->
            <!--</div>-->

            <!--<div class="pagination-controls">-->
                <!--<dir-pagination-controls></dir-pagination-controls>-->
                <!--<button class="btn btn-default"-->
                        <!--ng-disabled="currentPage == 0"-->
                        <!--ng-click="currentPage=currentPage-1">-->
                    <!--Previous-->
                <!--</button>-->
                <!--<button class="btn btn-default"-->
                        <!--ng-disabled="currentPage >= gridListing.length/pageSize - 1"-->
                        <!--ng-click="currentPage=currentPage+1">-->
                    <!--Next-->
                <!--</button>-->
            <!--</div>-->
        </div>

    </div>
</div>