html, body {
    margin: 0;
    width: 200px;
    height: 300px;
    /*border: 1px solid hotpink;*/
    font-size: 28px;
    font-family: "Titilium Web", sans-serif;
    background: url(https://www.moveedoo.com/app/images/posters/293660.jpg);
    overflow: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.overflow-container {

    height: 250px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.30)

}

.party-card{
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);
    color: white;
}

.party-title {
    position: relative;
    z-index: 1;
    line-height: 40px;
    padding: 5px;
    height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 3px 3px;

}

.party-details-container {
    width: 200px;
    margin-bottom: 3px;
    height: 47px;
    display: flex;
    flex-flow: row;
    line-height: 45px;

}

.party-order, .party-size, .ready-size, .ready-order {

    padding: 3px;
    text-align: center;
    line-height: 36px;
    position: relative;
    width: 30px;
    font-size: 22px;


}

.party-order, .party-size {

    background: #2d72ff;

}

.ready-order, .ready-size {

    background: #e79000;

}

.party-size, .ready-size {
    order: 2;
    border-radius: 0 3px 3px 0;
}

.party-order, .ready-order {
    order: 0;
    border-radius: 3px 0 0 3px;
}

.party-card-name {
    padding-left: 5px;
    text-shadow: 2px 2px 5px black;
    order: 1;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.40);

}
