html, body {
    margin: 0;
    width: 300px;
    height: 300px;
    /*border: 1px solid hotpink;*/
    font-size: 30px;
    font-family: "Titilium Web", sans-serif;
    /*background-color: #fdf4ff;*/
    overflow: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.party-card {

    margin-bottom: 3px;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    color: white;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    width: 290px;

    height: 47px;
    /*line-height: 15px;*/

    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.08);



}


/*.party-card.ng-enter {*/

    /*transition: all 500ms ease-out;*/
    /*opacity: 0;*/

/*}*/

/*.party-card.ng-enter-active {*/
    /*opacity: 1;*/
/*}*/

/*.party-card.ng-leave {*/
    /*transition: all 500ms ease-in;*/
    /*opacity: 1;*/
/*}*/

/*.party-card.ng-leave-active {*/
    /*opacity: 0;*/
/*}*/

.party-details-container {
    display: flex;
    flex-flow: row;
}

.party-order,.party-size,.ready-size,.ready-order{
    padding: 3px;
    width: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

.party-order,.party-size {

    background: #2d72ff;

}

.ready-order,.ready-size{

    background: #e79000;

}

.party-size{
    border-radius: 0 3px 3px 0;
    order: 2;
}

.party-order {
    order: 0;
    border-radius: 3px 0 0 3px;
}

.ready-size{
    border-radius: 0 3px 3px 0;
    order: 2;
}

.ready-order {
    order: 0;
    border-radius: 3px 0 0 3px;
}


.party-card-name {

    order: 1;

    margin-right: 10px;
    padding: 3px 0 0 5px;
    left: 30px;
    width: 213px;
    overflow: hidden;
    white-space: nowrap;

    text-shadow: 2px 2px 5px black;

}
