<div class="modal-header">
    <h3 class="modal-title">{{ modalUi.title }}</h3>
</div>
<div class="modal-body">
    <p>{{ modalUi.body }}</p>
    <div class="form-group" ng-repeat="f in modalUi.fieldsArray track by $index" >
        <label for="{{ 'f'+$index }}">{{ f.label }}</label>
        <input type="{{ f.type }}" placeholder="{{ f.placeholder }}"
               class="form-control" id="{{ 'f'+$index }}"
               ng-model="f.value">
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>