<style>
    .party-holder {
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        width: 100%;
        padding: 1%;
        margin-top: 1%;
    }
    .party-num {
        color: #303030;
        background-color: white;
        padding: 2%;
        border-radius: 3px;
    }
    .party-time {
        font-size: 75%;
        color: #a0a0a0;
    }
    .party-controls {
        margin-top: 2%;
    }

    .party-controls.ng-hide-remove {
        transition: all 0.35s;
        transform: scaleY(1);
    }

    .party-controls.ng-hide {
        transform: scaleY(0);
        transition: all 0.35s;
    }

</style>

<div class="party-holder" ng-click="tapped()">
    <div class="party-name">
        {{party.name}}  <span class="pull-right party-num">{{party.partySize}}</span>

    </div>
     <div class="party-time">{{party.dateCreated | timeAgo}}</div>
    <div class="party-controls" ng-show="showControls">
        <button class="btn btn-primary" ng-click="sit()">TABLE READY</button>
        <button class="btn btn-danger pull-right" ng-click="sit()">DELETE</button>
    </div>
</div>

