<!DOCTYPE html>
<html ng-app="optvWaitListApp">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>-->

    <script src="../../../../common/ionic/ionic.bundle.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>


    <!-- App Main and AngularJS Routes -->

    <script src="app/optvWaitListApp.module.js"></script>
    <script src="../../../../common/js/optvAPILime.js"></script>

    <!-- Controllers -->

    <script src="app/components/waitlist/WaitListController.js"></script>

    <link href="../../../../common/ionic/ionic.min.css" rel="stylesheet"/>

    <!-- App Specific and Overridden CSS -->
    <link href="assets/css/styles.css" rel="stylesheet">

    <!--<link href="assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->

    <title>OGTV Waiting List Control</title>
</head>

<body ng-controller="waitlistController">

<!--Waiting List Remote Control -->

<ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">Waiting List</h1>
</ion-header-bar>

<ion-content class="has-header">
    <button class="button button-balanced button-block" ng-click="openAdd()">Add</button>
    <button class="button button-stable button-block" ng-repeat="party in parties()" ng-click="openOptions($event, party)">{{party.name}} | {{party.members}} | {{party.dateCreated | date:'hh:mm:ss a'}}</button>
</ion-content>


</body>
</html>