
<style>

    .myTopRow {
        margin-top: 4vh;
    }

    .myBottomRow {
        margin-bottom: 6vh;
    }

    .myRow {
        margin-bottom: 2vh;
    }

    .team {
        font-size: 4vh;
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 4vh;
        overflow: hidden;
    }

    .mybtn {
        width: 100%;
    }

    .btnpad {
        margin-bottom: 2vh;
    }

    .score {
        font-size: 4vh;
        text-align: center;
    }

    input {
        color: black;
    }

</style>

<div>
    <h1>
        Manually Score
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{ model.teamNames.team1 }}</th>
            <th>{{ model.teamNames.team2 }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>CURRENT Q SCORE</td>
            <td><input type="number" ng-model="model.currentScore.team1"> </td>
            <td><input type="number" ng-model="model.currentScore.team2"></td>
        </tr>
        <tr>
            <td>CURRENT Q</td>
            <td><input type="number" ng-model="model.currentQuarter"></td>
            <td></td>
        </tr>
        <tr ng-repeat="qs in model.perQuarterScores">
            <td>Q{{ $index+1 }} FINAL SCORE</td>
            <td><input type="number" ng-model="model.perQuarterScores[$index].team1"></td>
            <td><input type="number" ng-model="model.perQuarterScores[$index].team2"></td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-default"
                    ng-click="addQuarter()"
                    ng-if="model.perQuarterScores.length<3">ADD QUARTER</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-lg btn-primary mybtn btnpad" ng-click="update()">UPDATE</button>
    <button class="btn btn-lg btn-danger mybtn btnpad" ng-click="finishGame()">FINISH GAME</button>
    <button class="btn btn-lg btn-warning mybtn btnpad" ng-click="settingsPage()">SETTINGS PAGE</button>
</div>