<div class="widget">
    <div class="party-title">
        {{title}}
    </div>
    <div class="overflow-container">
        <div id="party-container" style="position: relative;" ng-style="topPos">

            <div ng-repeat="party in parties" class="party-card" id="{{'scroll'+$index}}">


                <div class="party-details-container">

                    <div class="queue-place" ng-class="{'waiting': !party.tableReady, 'ready':  party.tableReady}">
                        {{$index + 1}}
                    </div>

                    <div class="name-and-size" ng-class="{ 'ready-text': party.tableReady }">
                        <div class="party-card-name">{{party.name | nameMaximum}}</div>
                        <div class="num-in-party">{{party.partySize}}</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <og-advertisement type="widget"></og-advertisement>
</div>

