<div class="party-title" ng-bind="title">
    {{title}}
</div>
<div class="overflow-container">
    <div id="party-container" style="position: relative;" ng-style="topPos">

        <div ng-repeat="party in parties" class="party-card" id="{{'scroll'+$index}}">

            <div class="party-details-container">
                <div ng-class="{'party-order': !party.tableReady, 'ready-order':  party.tableReady}">{{$index + 1}}</div>
                <div class="party-card-name">{{party.name | nameMaximum}}</div>
                <div ng-class="{'party-size': !party.tableReady, 'ready-size':  party.tableReady}"><span class="party-circle">{{party.partySize}}</span></div>
            </div>
        </div>
    </div>
</div>
