<div class="applet">
    <h1 class="apphdr">
        {{title}}
    </h1>
    <div class="overflow-frame" id="outer-frame">
        <div class="overflow-container" id="scroll-window">
            <div id="party-container" style="position: relative;" ng-style="topPos">

                <div ng-hide="parties.length" style="text-align: center; margin-top: 5vh">
                    No Waiting Parties
                </div>

                <div ng-repeat="party in parties" class="party-card" id="{{'scroll'+$index}}">

                    <!--<div class="party-details-container">-->

                        <div class="queue-place" ng-class="{'waiting': !party.tableReady, 'ready':  party.tableReady}">
                            {{$index + 1}}
                        </div>

                        <div class="name-and-size" ng-class="{ 'ready-text': party.tableReady }">
                            <div class="party-card-name">{{party.name | nameMaximum}}</div>
                            <div class="num-in-party">{{party.partySize}}</div>
                        </div>

                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
    <div class="logo-holder">
        <og-advert type="widget" interval="30000"></og-advert>
    </div>
</div>
