<!DOCTYPE html>
<html ng-app="optvDartsApp">
<head lang="en">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="../../../../common/bower_components/angular/angular.js"></script>
    <!--<script src="../../../../common/bower_components/angular-sanitize/angular-sanitize.js"></script>-->
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>


    <!-- App Main and AngularJS Routes -->
    <script src="../../../../common/js/ogAPI.js"></script>
    <script src="app/optvDartsApp.module.js"></script>

    <!-- Controllers -->
    <script src="app/components/darts/DartsController.js"></script>


    <!-- Directives -->

    <!--<link href="assets/css/style.css" rel="stylesheet">-->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>


    <!-- App Specific and Overridden CSS -->
    <!--<link href="assets/css/style.css" rel="stylesheet">-->
    <link href="assets/css/styles.css" rel="stylesheet">

    <title>OPTV Cricket</title>
</head>

<body>

<!-- semis skeuomorph look -->
<div class="applet" ng-controller="dartsController">
    <div class="applet-banner">Darts</div>
    <div class="applet-body">
        <div style="margin-top: 1.7px" ng-repeat="row in rows">
            <h3 class="marker-holder-left" ng-class="{'hide': !row.p1.numHits}">
                <img class="marker-image" ng-if="row.p1.numHits == 1" src="assets/img/newLook/1Hit.png">
                <img class="marker-image" ng-if="row.p1.numHits == 2" src="assets/img/newLook/2Hits.png">
                <img class="marker-image" ng-if="row.p1.numHits >= 3" src="assets/img/newLook/3Hitsb.png">
            </h3>
            <h3 class="marker-holder-center">
                <p class="marker-text">{{$last ? "B" : 20 - $index}}</p>
            </h3>
            <h3 class="marker-holder-right">
                <img class="marker-image" ng-if="row.p2.numHits == 1" src="assets/img/newLook/1Hit.png">
                <img class="marker-image" ng-if="row.p2.numHits == 2" src="assets/img/newLook/2Hits.png">
                <img class="marker-image" ng-if="row.p2.numHits >= 3" src="assets/img/newLook/3Hitsb.png">
            </h3>
            &nbsp;
        </div>

        <!-- scores -->
        <div class="score-wrapper">
            <h3 class="score score-red">{{score.red}}</h3>
            <h3 class="score score-blue">{{score.blue}}</h3>
            &nbsp;
        </div>
    </div>
</div>
<!-- bottom logo -->
<div style="width:150px">

    <og-advert type="widget" interval="30000"></og-advert>

</div>

<!-- player Names -->
<div style="width:140px; position: absolute; top: 30px">
    <div class="player-name-holder player-name-holder-left"><p class="player-name-text left">P1</p></div>
    <div class="player-name-holder player-name-holder-right"><p class="player-name-text right">P2</p></div>
</div>

<!-- top T -->
<div class="t-wrapper" style="top: 33px">
    <div class="t-line">&nbsp;</div>
    <hr class="t-base" style="margin-top: -.1px" width="100px"color="#808080" size="4px">
</div>

<!-- bottom T -->
<div class="t-wrapper" style="top: 215px">
    <hr class="t-base" width="100px"color="#808080" size="4px">
    <div class="t-line">&nbsp;</div>
</div>

</body>
</html>