@font-face {
    font-family: "Kraut";
    src: url('../fonts/FetteUNZFraktur.ttf');
}

@font-face {
    font-family: "EXOBLACK";
    src: url('../../../../../../common/fonts/Exo_2/Exo2-Bold.ttf');
}

@font-face {
    font-family: "EXOREG";
    src: url('../../../../../../common/fonts/Exo_2/Exo2-Regular.ttf');
}

html {
    margin: 0;
    height: 100%;
    background-color: #000;
}

body {
    margin: 0;
    font-family: 'EXOBLACK', monospace;
    height: 100%;
    background-color: #000000;

}

.ball {

    position: absolute;
    top: 15%;
    left: 32%;
    width: 200px;
    height: 200px;
    transition: all 0.5s;

}

.start {
    position: absolute;
    top: 70%;
    left: 38%;
    width: 100px;
    height: 50px;

}

.tap {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 40%;
    font-size: 16px;
    color: #ddd;
    text-align: center;
}

.wilkommen {
    font-family: 'Kraut';
    position: absolute;
    top: 5%;
    left: 15%;
    width: 60%;
    font-size: 30px;
    color: #ddd;
    text-align: center;

}

.over {
    font-family: 'Kraut';
    position: absolute;
    top: 35%;
    left: 15%;
    width: 60%;
    font-size: 40px;
    color: #dd505b;
    text-align: center;
}

.drop {
    top: 25%;
}

.done {
    opacity: 0;
}