<style>
    .pick-row {
        display: flex;
        /*border: 1px solid white;*/
        height: 5vh;
        margin-top: 1.3vh;
    }

    .pick-col {
        flex: 1;
        /*border: 1px solid red;*/
        background-color: #10ee70;
        margin-left: .5vw;
        text-align: center;
        font-size: 2vh;
        height: 5vh;
        line-height: 5vh;
        overflow: hidden;
    }

    .taken {
        background-color: #3e7dee !important;
        border: 3px solid white;

    }

    .header {
        background-color: #ff691c !important;
        border: 3px solid white;
    }

    .empty {
        background-color: transparent !important;
    }

    .horizontal-team {
        text-align: center;
        font-size: 4vh;
        font-weight: bold;
    }

    .vertical-team {
        transform: rotate(270deg);
        /*width: 30px;*/
        text-align: center;
        font-size: 4vh;
        font-weight: bold;
        display: inline-block;
        border: 1px solid hotpink;
    }

    .mybtn {
        width: 100%;
        margin-bottom: 2vh;
        margin-top: 4vh;
    }

</style>

<h1>
    Final Game Board
    <button class="btn btn-lg btn-danger pull-right" ui-sref="settings">EXIT</button>
    <button class="btn btn-lg btn-warning pull-right" style="margin-right: 1vw" ng-click="refresh()">REFRESH</button>
</h1>

<div class="horizontal-team">
    {{ model.teamNames.team1 }}
</div>

<!--<div class="vertical-team">-->
<!--{{ teamNames.team2 }}-->
<!--</div>-->

<div class="pick-row" ng-repeat="row in emptyArray track by $index">
    <div class="pick-col" ng-repeat="col in emptyArray track by $index"
         ng-class="getClassType(row, col)">

        <div ng-if="col != 0 && row == 0"> {{ model.colScoreMap[col - 1] }} </div>
        <div ng-if="col == 0 && row != 0"> {{ model.rowScoreMap[row - 1] }} </div>

        <div ng-if="col != 0 && row != 0" ng-click="squareDeets(model.grid[row - 1][col - 1])">
            {{ model.grid[row - 1][col - 1].name | makeInitials }}
        </div>

    </div>
</div>

<button class="btn btn-lg btn-info mybtn" ng-click="resultsPage()">VIEW RESULTS</button>

