<style>


</style>

<h1>
    Let's get You Registered
    <button class="btn btn-lg btn-danger pull-right" ng-click="cancel()">CANCEL</button>
</h1>

<div class="row">
    <div class="col-md-10 col-offset-1">
        <form style="margin-top: 6vh;">

            <div class="form-group">
                <label for="formGroupExampleInput">First and Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="currentUser.name"
                       placeholder="Your Full Name">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Email Address</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="currentUser.email"
                       placeholder="Your Email">
            </div>

            <!-- Britannia Arms only allows a single pick
            <div class="form-group">
                <label for="formGroupExampleInput3">Number of Squares to Play?</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" ng-model="currentUser.numPicks"
                       placeholder="Number of Squares">
            </div>
            -->

        </form>

        <button class="btn btn-lg btn-primary" ng-click="register()"
                style="width: 100%; margin-top: 10vh;">REGISTER
        </button>
        <!--<button class="btn btn-lg btn-warning" ng-click="clearForm()"-->
                <!--style="width: 100%; margin-top: 1vh;">CLEAR FORM-->
        <!--</button>-->


    </div>


</div>
