<style>



</style>

<div class="jumbtron"><h1>Let's get You Registered</h1></div>

<div class="row">

    <form>

        <div class="form-group">
            <label for="formGroupExampleInput">First and Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" ng-model="fullname" placeholder="Your Full Name">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Email Address</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="email" placeholder="Your Email">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput3">Number of Squares to Play?</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" ng-model="picks" placeholder="Number of Squares">
        </div>

    </form>

    <button class="btn btn-lg btn-primary" ng-click="register()" ng-class="{ 'faded': ui.badForm }"
        style="width: 100%; margin-top: 10vh;">REGISTER</button>
    <button class="btn btn-lg btn-warning" ng-click="clearForm()"
            style="width: 100%; margin-top: 1vh;">CLEAR FORM</button>
    <button class="btn btn-lg btn-danger" ng-click="cancel()"
            style="width: 100%; margin-top: 1vh;">CANCEL</button>

</div>
