* {
    font-size: 14px;
    width: 100%;
}

ion-content {
    position: absolute;
    top: 54px;
}

.header .col {
    /*background-color:lightgrey;*/
}

.col {
    /*border: solid 1px grey;*/
}

.app-name {
    position: relative;
    left: 6px;
}
