* {
    font-size: 14px;
    width: 100%;
}

ion-content {
    position: absolute;
    top: 54px;
}

.header .col {
    /*background-color:lightgrey;*/
}

.col {
    /*border: solid 1px grey;*/
}

.app-name {
    position: relative;
    left: 6px;
}

.app-icon {
    background-color: black;
    border: solid 6px black;
    width: 40px;
    height: 40px;
}

.no-apps {
    font-family: 'Helvetica Neue Light', 'Arial', sans-serif;
    font-style: italic;
    font-size: 15px;
    position: relative;
    left: 6px;
}

.button-row-left {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-row-middle {
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.button-row-right {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
