html {
    margin: 0;
}

body {
    margin:0;
}

@font-face {
    font-family: "Cinzel";
    src: url('../fonts/PermanentMarker.ttf');
}

/* 1080 */
@media screen and (min-width: 1281px) {

    .left-scroller-holder {
        font-family: COOL, sans-serif;
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        height: 90px;

    }

    .bubble {

        margin-right: 100px;
    }

    .text-holder {
        /*border: 1px solid mediumpurple;*/
        height: 90px;
        overflow: hidden;
        width: 10000px;

    }

    .text-slider {
        /*border: 1px dashed orange;*/
        position: relative;
    }

    .msg-logo-holder {
        display: inline-block;
        width: 120px;
        float: left;
    }

    .msg-logo {
        height: 70px;
        /*border: 2px solid #fb7dff;*/
        display: block;
        border: 5px solid #c3a24f;
        border-right-width: 0px;

    }

    .msg-holder {
        display: inline-block;
        float: left;
        background-color: black;
        color: lightgrey;
        line-height: 70px;
        font-size: 34px;
        padding-left: 40px;
        padding-right: 40px;
        border: 5px solid #c3a24f;
        border-left-width: 0px;
        margin-right: 400px;
        font-family: "Cinzel", monospace;

    }

    .fl {
        float: left;
    }

    .logo-holder {

        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        padding-right: 45px;
    }

    .left-logo-holder {

        position: absolute;
        top: 0;
        left: 20px;
        padding: 5px;
        padding-right: 45px;
    }

    .logo {
        height: 70px;
        /*border: 2px solid #fb7dff;*/
        display: block;
        border-right-width: 0px;

    }

}

/* 1080 */
@media screen and (max-width: 1280px) {

    .left-scroller-holder {
        font-family: COOL, sans-serif;
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        height: 45px;

    }

    .bubble {

        margin-right: 100px;
    }

    .text-holder {
        /*border: 1px solid mediumpurple;*/
        height: 45px;
        overflow: hidden;
        width: 10000px;

    }

    .text-slider {
        /*border: 1px dashed orange;*/
        position: relative;
    }

    .msg-logo-holder {
        display: inline-block;
        width: 60px;
        float: left;
    }

    .msg-logo {
        height: 35px;
        /*border: 2px solid #fb7dff;*/
        display: block;
        border: 3px solid #c3a24f;
        border-right-width: 0px;

    }

    .msg-holder {
        display: inline-block;
        float: left;
        background-color: black;
        color: lightgrey;
        line-height: 35px;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
        border: 3px solid #c3a24f;
        border-left-width: 0px;
        margin-right: 400px;
        font-family: "Cinzel", monospace;

    }

    .fl {
        float: left;
    }

    .logo-holder {

        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        padding-right: 30px;
    }

    .left-logo-holder {

        position: absolute;
        top: 0;
        left: 20px;
        padding: 5px;
        padding-right: 45px;
    }

    .logo {
        height: 35px;
        /*border: 2px solid #fb7dff;*/
        display: block;
        border-right-width: 0px;

    }

}


