html {
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: "Cinzel";
    src: url('../../../../../../common/fonts/PermanentMarker.ttf');
}

@font-face {
    font-family: "DDF";
    src: url('../../../../../../common/fonts/DigitaldreamFat.ttf');
}

@font-face {
    font-family: "COOL";
    src: url('../../../../../../common/fonts/coolvetica.ttf');
}

/* per anti-jank article on google */

.hwlayer {
    will-change: transform;
    transform: translateZ(0);
}

/* 1080
@media screen and (min-width: 1281px) {



}
*/
/* 720 */

/*@media screen and (max-width: 1280px) {*/

.left-scroller-holder {
    font-family: sans-serif;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 60px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
}

.floor {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #404040;
}

.right-logo {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 101;
    max-height: 50px;
}

.next-up-holder {
    position: absolute;
    padding: 5px;
    width: 200px;
    height: 60px;
    top: 0;
    left: 20px;
    z-index: 20;
    color: #ffde1e;
}

.next-up-holder h1 {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 4px;
    text-align: center;

}

.next-up-holder p {
    margin-top: 2px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;

}

ul {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 0;
    position: relative;
    z-index: 10;
    top: -8px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

li {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    margin: 0 20px;
    font-size: 32px;
    color: white;
}

.next-up {
    position: relative;
    -webkit-transform: translate(0px, 30px);
    -moz-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    -o-transform: translate(0px, 30px);
    transform: translate(0px, 30px);
    transition: all 500ms;
    opacity: 0;
}

.scroll-in {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

