<!DOCTYPE html>
<html lang="en" ng-app="optvTimeApp">
<head>
    <meta charset="UTF-8">

    <script src="../../../../common/bower_components/moment/moment.js"></script>

    <script src="../../../../common/bower_components/angular/angular.min.js"></script>

    <script src="../../../../common/js/ogTVAPI.js"></script>

    <script src="app/optvTimeApp.js"></script>
    <script src="app/components/TimeController.js"></script>

    <script src="app/shared/clockService.js"></script>

    <link href="assets/css/clock.css" rel="stylesheet">

</head>
<body ng-controller="timeController">


<flipping-digit ng-repeat="digit in digits track by $index" digit="digit" flip="flip" ng-class="{'plus': flip}">
</flipping-digit>




<!--<flipping-digit ng-repeat="digit in digits track by $index" digit="digit"  ng-class="{'card': !flip}">-->
<!--</flipping-digit>-->





</body>
</html>