<style>
    .station-cell {
        width: 90vw;
        /*height: 30vw;*/
        position: relative;
        border: 1px solid lightblue;
        margin-bottom: 5vw;
    }

    .station-logo-holder {
        background-color: white;
        width: 15vw;
        height: 15vw;
        display: inline-block;
        margin-right: 3vw;
        border-radius: 5px;
    }

    .station-icon {
        height: 15vw;
        width: 15vw;
        top: 0;
        left: 0;
        padding: 5px;
    }

    .channel-name {
        font-weight: 400;
        font-size: 3vh;
        text-align: left;
        /*margin-top: 7vw;*/
        overflow: hidden;
        width: 68vw;
        display: inline-block;
        border: 1px solid orange;

        position: absolute;
        top: 2vh;
        left: 18vw;
    }

    .listings {
        display: block;
        margin-top: 1vw;
        /*border: 1px solid mediumvioletred;*/

        position: relative;
        /*top: 6vh;*/
        left: 18vw;
        width: 68vw;
    }

    .listing-time {
        float: left;
        margin-top: 1vw;
        margin-right: 2vw;
        overflow: hidden;
        display: inline-block;
        width: 10vw;
        text-align: left;
        border: 1px solid red;
    }

    .listing-name {
        margin-top: 1vw;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        width: 55vw;
        text-align: left;
        border: 1px solid red;
    }

</style>


<div class="station-cell" ng-click="changeChannel()">

    <div class="station-logo-holder">
        <img class="station-icon" og-fallback-img="assets/img/default_station_logo.png"
             ng-src="{{grid.channel.logoUrl}}"/>
    </div>

    <div class="channel-name" ng-if="grid.channel.callsign">
        {{ grid.channel.callsign }} - {{ grid.channel.channelNumber}}
    </div>

    <div class="channel-name" ng-if="!grid.channel.callsign">
        {{ grid.channel.channelNumber}}
    </div>

    <div class="listings">
        <div class="listing-time" ng-hide="search">
            Now
        </div>

        <div class="listing-name" ng-if="grid.listings.length == 0 && !search">
            Unknown Programming
        </div>

        <div class="listing-name" ng-hide="grid.listings.length == 0 || search">
            {{ grid.listings[0].showName }}
        </div>

        <div ng-show="search" ng-repeat="listing in grid.listings | filter: search">
            <div class="listing-time">
                {{ displayTime(listing.listDateTime) }}
            </div>
            <div class="listing-name">
                {{ listing.showName }}
            </div>
        </div>
    </div>

</div>