@font-face {
    font-family: oldNews;
    src: url(../fonts/OldNewspaperTypes.ttf);
}

body {
    margin: 0;
    padding: 0;
}


.flipper {
    display: inline-block;
    /*background-color: orange;*/
    color: white;
    height: 50px;
    width: 30px;
    margin-top: 1px;
    margin-right: 0;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    /*margin-right: 0;*/
    /*-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    /*box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    z-index: 0;
    position: relative;
    /*perspective: 250px;*/
    /*-webkit-perspective: 250px;*/
    font-family: oldNews, courier;


}

/*.flipper:hover .card{*/
    /*transform: rotateX(-180deg);*/
    /*!*transform-origin: bottom;*!*/
    /*!*box-shadow: -5px 5px 5px #aaa;*!*/
/*}*/

.plus .card{
    transform: rotateX(180deg);

}

.front-card {
    display: inline-block;
    background-color: pink;
    height: 50px;
    width: 30px;
    margin-top: 1px;
    margin-right: 0;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    /*margin-right: 0;*/
    /*-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    /*box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);*/
    z-index: 999999;
    position: relative;
    /*perspective: 250px;*/
    /*-webkit-perspective: 250px;*/
}




.card {
    /*transform: rotateX(-180deg);*/
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
    /*animation: rotate 1s infinite;*/


}

/*@keyframes rotate {*/
    /*100% {*/
        /*transform: rotateX(180deg);*/
    /*}*/
/*}*/




.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: black;
    border-radius: 3px;


}
/*.face.back {*/
    /*display: block;*/
    /*transform: rotateX(180deg);*/
    /*!*box-sizing: border-box;*!*/
    /*!*padding: 10px;*!*/
    /*!*color: blue;*!*/
    /*text-align: center;*/
    /*!*background-color: #aaa;*!*/
/*}*/

.new-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: black;
    border-radius: 3px;
    display: block;
    transform: rotateX(180deg);
    text-align: center;

}




.extra-gap {
     margin-right: 2px;
 }

.colon {
    display: inline-block;
    width: 10px;
}
