html {
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: "Cinzel";
    src: url('../../../../../../common/fonts/PermanentMarker.ttf');
}

@font-face {
    font-family: "DDF";
    src: url('../../../../../../common/fonts/DigitaldreamFat.ttf');
}

@font-face {
    font-family: "COOL";
    src: url('../../../../../../common/fonts/coolvetica.ttf');
}

/* per anti-jank article on google */

.hwlayer {
    will-change: transform;
    transform: translateZ(0);
}

/* 1080
@media screen and (min-width: 1281px) {



}
*/
/* 720 */

/*@media screen and (max-width: 1280px) {*/

.frame {
    height: 60px;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.left-scroller-holder {
    font-family: sans-serif;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
}

.floor {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #404040;
}

.right-animation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 200px;

}

.right-logo {
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 101;
    max-height: 50px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -ms-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
}

.spin-logo {

    -webkit-transform: rotateY(630deg);
    -moz-transform: rotateY(630deg);
    -ms-transform: rotateY(630deg);
    -o-transform: rotateY(630deg);
    transform: rotateY(630deg);

}

.next-up-holder {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 0;
    left: 60px;
    z-index: 20;
    color: #ffde1e;
}

.next-up-holder h1 {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0;
    text-align: center;

}

.next-up-holder p {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    color: #f1f1f1;

}

ul {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 0;
    position: relative;
    z-index: 10;
    top: -15px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

li {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    margin: 0 20px;
    font-size: 26px;
    color: white;
}

.next-up {
    position: relative;
    -webkit-transform: translate(0px, 30px);
    -moz-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    -o-transform: translate(0px, 30px);
    transform: translate(0px, 30px);
    transition: all 500ms;
    opacity: 0;
}

.scroll-in {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.name-change {
    transition: all 250ms ease;
}

.hide-name {
    opacity: 0;
}
