<!DOCTYPE html>
<html ng-app="ogConApp">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">


    <script src="../common/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="../common/bower_components/angular/angular.min.js"></script>

    <!-- App Main and AngularJS Routes -->


    <script src="app/ogConApp.module.js"></script>
    <script src="app/components/controller/ConController.js"></script>
    <script src="app/components/directives/AppCell.directive.js"></script>


    <!-- App Specific and Overridden CSS -->
    <!--<link href="assets/css/styles.css" rel="stylesheet">-->
    <link href="../common/css/og.css" rel="stylesheet"/>


    <title>OGTV Control</title>
</head>

<body ng-controller="conController">


<div class="container" style="padding:10px 0px 10px 35px">
    <div class="row">
        <h3>RUNNING</h3>
        <p class="no-apps" ng-show="runningApps.length < 1">There are no running apps.</p>
        <app-cell ng-repeat="app in runningApps track by $index" app="app" running="true"></app-cell>
    </div>
    <div class="row">
        <h3>SLEEPING</h3>
        <p class="no-apps" ng-show="sleepingApps.length < 1">There are no sleeping apps.</p>
        <app-cell ng-repeat="app in sleepingApps track by $index" app="app" ></app-cell>
    </div>
</div>
    <!--&lt;!&ndash;<div class="row" ng-repeat="app in runningApps track by $index">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-10">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="app-icon"><img ng-src="/{{app.iconPath}}" alt=""/></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col app-name">&ndash;&gt;-->
            <!--&lt;!&ndash;{{app.screenName}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-20">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button button-small button-dark button-outline button-row-left" ng-click="openController(app.appId, app.screenName)">Control</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-20">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button button-small button-positive button-row-middle" ng-click="callApiEndpoint(app.appId, '/move')">Move</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-20">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button button-small button-assertive button-row-right" ng-click="callApiEndpoint(app.appId, '/kill')">Stop</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row"><br></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row header">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col"><h4>Sleeping Apps</h4></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row" ng-show="sleepingApps.length < 1">&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="no-apps">There are no sleeping apps.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row row-center" ng-repeat="app in sleepingApps track by $index">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-10">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="app-icon"><img ng-src="/{{app.iconPath}}" alt=""/></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col app-name">&ndash;&gt;-->
            <!--&lt;!&ndash;{{app.screenName}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-60">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button button-small button-balanced" ng-click="callApiEndpoint(app.appId, '/launch')">Launch</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash; make pretty and add buttons &ndash;&gt;-->

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->

    <!--<link href="../common/css/og.css" rel="stylesheet">-->


    <!--<title>OG Boostrap Test</title>-->
<!--</head>-->
<!--<body>-->

<!--<button class="btn btn-warning" style="float: left;">CONTROL</button>-->
<!--<button class="btn btn-primary" style="float: left;">MOVE</button>-->
<!--<button class="btn btn-danger" style="float: left;">X</button>-->

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<h1>I AM AN H1</h1>-->
        <!--<h2>I AM AN H2</h2>-->
        <!--<button class="btn btn-primary">Primary Button</button>-->
        <!--<button class="btn btn-default">Default Button</button>-->
        <!--<button class="btn btn-warning">Warning Button</button>-->
        <!--<button class="btn btn-success">Success Button</button>-->
        <!--<button class="btn btn-danger">Danger Button</button>-->

    <!--</div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->