<style>
    .og-logo {

        position: relative;
        top: 20vh;
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    .reg-button-holder {
        display: flex;
        position: relative;
        top: 50vh;
        width: 100%;
        /*border: 1px solid white;*/
    }

    .thanks {
        background-color: #10ee70;
        font-size: 50px;
        margin: 0 10vw 0 10vw;
        width: 100%;
        text-align: center;
        color: white;
        border-radius: 5px;
        padding: 40px;
        text-shadow: rgb(71, 71, 71) 3px 5px 2px;
    }

</style>

<img class="og-logo" src="assets/img/Ourglass_LOGO_RGB_WHT.png"/>

<div class="reg-button-holder animated  flipInX">
    <div class="thanks">THANKS FOR PLAYING</div>
</div>
