@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

html {
    margin: 0;
    aabackground-color: #F000F0;

}

body {
    margin: 3px;
    background-color: #303030;
    font-family: 'Dosis', sans-serif;

}

.top {
    width: 100%;
    height: 50px;
    background-color: #000;
}

.banner {
    font-size: 1.5rem;
    position: relative;
    height: 50px;
    background-color: #000;
    color: white;
    margin-top: 0;
    padding: 5px;
    border: 5px solid #c3a24f;
}

.banner img {
    height: 30px;
    margin-top: 10px;
}

.banner > span {
    position: absolute;
    top: 12px;
    left: 80px;
}

.msg {
    width: 100%;
    position: relative;
}

.msg input {
    width: 85%;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 8px;
    float: left;
    position: relative;
    left: 15px;
    height: 20px;
    margin-bottom: 10px;
}

.delbtn {
    float: right;
    color: #ae8a32;
    border: 2px solid #ae8a32;
    padding: 5px;
    border-radius: 11px;
    position: relative;
    right: 15px;
    height: 20px;
}

.btn {
    color: lightgrey;
    float: left;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    margin: 14px;
}
