@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

html {
    margin: 0;
    aabackground-color: #F000F0;

}

body {
    margin: 3px;
    background-color: #303030;
    font-family: 'Dosis', sans-serif;

}


.top-banner {

    width: 95%;
    height: 50px;
    background-color: #000;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 5px;
    border: 5px solid #c3a24f;
    position: relative;

}

.top-banner > span {
    position: absolute;
    top: 12px;
    left: 80px;
}

.msg {
    width: 100%;
    padding: 20px;
    position: relative;
}

.msg input {
    width: 90%;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.delbtn {
    float: right;
    color: #ae8a32;
    margin-right: 10%;
}

.btn {
    color: lightgrey;
    float: left;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    margin: 10px;
}

.ctrl-holder {

    display: flex;
    justify-content: space-between;
    padding: 2%;

}

.rounded-border {
    border: 2px solid #eee;
    border-radius: 15px;
    margin-top: 5px;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 95%;
}

.msgnum {
    background-color: #404040;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.fl {
    float: left;
}

.fr {
    float: right;
    margin-right: 40px;
}