@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

html {
    margin: 0;
    width: 100%;
}

body {
    background-color: #303030 !important;
    font-family: 'Dosis', sans-serif !important;
}

ion-view {
    background-color: #303030 !important;
}

ui-view {
    background-color: #303030 !important;
    position: relative;
    top: 64px !important;
}

.btn {
    color: lightgrey;
    /*padding: 8px;*/
    box-shadow: 0 0 0 2px lightgrey;
    /*margin: 14px;*/
    height: 34px;
    text-align: center;
    width: 100%;
}

.inputbtn {
    width: 82%;
}

.delbtn {
    color: #ae8a32;
    box-shadow: 0 0 0 2px #ae8a32;
}

input {
    width: 100%;
    font-size: 1.6rem;
    border-radius: 6px;
    height: 35px;
    margin-bottom: 10px;
    padding: 6px !important;
    box-shadow: 0 0 0 1px white;
}


