<style>
    .pick-row {
        display: flex;
        /*border: 1px solid white;*/
        height: 5vh;
        margin-top: 1.3vh;
    }

    .pick-col {
        flex: 1;
        /*border: 1px solid red;*/
        background-color: #10ee70;
        margin-left: .5vw;
        text-align: center;
        font-size: 2vh;
        height: 5vh;
        line-height: 5vh;
        overflow: hidden;
    }

    .free {
        background-color: #10ee70!important;
    }

    .chosen {
        background-color: red!important;
    }

    .taken {
        background-color: #109b50!important;
    }

    .tracker {
        margin-top: 2vh;
        font-size: 4vh;
        text-align: center;
    }

    .button-group {
        margin-top: 1vh;
    }

    .mybtn {
        width: 100%;
        margin-bottom: 1vh;
    }

</style>

<h1>Pick Your Squares!</h1>

<div class="pick-row" ng-repeat="row in rows">
    <div class="pick-col" ng-repeat="col in cols" ng-click="clicked(row, col)"
         ng-class=" !grid[row][col].available ? 'free' :
         (grid[row][col].ownedBy.email == currentUser.email ? 'chosen' : 'taken')">

        <div ng-if="grid[row][col].available">{{ grid[row][col].ownedBy.initials }}</div>
        <div ng-if="!grid[row][col].available">Open</div>

    </div>
</div>

<div class="tracker">
    Squares Picked: {{ numPicked }} of {{ currentUser.numPicks }}
</div>

<div class="button-group">
    <button class="btn btn-lg btn-primary mybtn" ng-click="submitSelection()">SUBMIT SQUARES</button>
    <button class="btn btn-lg btn-warning mybtn" ng-click="clearSelections()">CLEAR SELECTION</button>
    <button class="btn btn-lg btn-danger mybtn" ng-click="registration()">REGISTRATION PAGE</button>
</div>



