<style>

    h1 {
        text-align: center;
    }
    .pick-row {
        display: flex;
        /*border: 1px solid white;*/
        height: 5vh;
        margin-top: 1.5vh;
    }

    .pick-col {
        flex: 1;
        /*border: 1px solid red;*/
        background-color: #10ee70;
        margin-left: 1vw;
        text-align: center;
        font-size: 2vh;
        height: 5vh;
        line-height: 5vh;
        overflow: hidden;
    }

    /* COLORS AND BORDERS CHOSEN FOR COLOR BLINDNESS READABILITY */
    /* http://www.color-blindness.com/coblis-color-blindness-simulator/ */

    .free {
        background-color: #10ee70!important;
        border: 5px solid transparent;

    }

    .chosen {
        background-color: #ff691c !important;
        border: 5px solid white;
    }

    .taken {
        background-color: #4cabff !important;
        border: 5px solid transparent;

    }

    .tracker {
        margin-top: 2vh;
        font-size: 4vh;
        text-align: center;
    }

    .button-group {
        margin-top: 1vh;
    }

    .mybtn {
        width: 100%;
        margin-top: 5vh;

    }

</style>

<h1>Pick Your Squares!</h1>

<div class="pick-row" ng-repeat="row in rows">
    <div class="pick-col" ng-repeat="col in cols" ng-click="clicked(row, col)"
         ng-class="squareClass(grid[row][col])">

        <div ng-if="!grid[row][col].available">{{ grid[row][col].ownedBy.initials }}</div>
        <div ng-if="grid[row][col].available">&nbsp;</div>

    </div>
</div>

<div class="tracker">
    <h1>Squares Picked: {{ numPicked }} of {{ currentUser.numPicks }}</h1>
</div>

<div class="button-group">
    <button class="btn btn-lg btn-primary mybtn"
            ui-sref="thanks4playing"
            ng-disabled="numPicked!=currentUser.numPicks">FINISH</button>
    <button class="btn btn-lg btn-warning mybtn" ng-click="clearModel()">CLEAR MODEL</button>
    <!--<button class="btn btn-lg btn-danger mybtn" ng-click="registration()">REGISTRATION PAGE</button>-->
</div>



