<br>
<div class="add-new">
    <input type="text" ng-model="newParty.name" ng-class="{'add-error-underline': addErrors.name || addErrors.nameExists()}" placeholder="Name..."/>
    <span class="add-error" ng-show="addErrors.name" ng-class="{'add-error-text-opacity': addErrors.name}">
        This field is required.
        <br>
    </span>
    <span class="add-error" ng-show="addErrors.nameExists()" ng-class="{'add-error-text-opacity': addErrors.nameExists()}">
        This name already exists! Please enter a first or last initial.
        <br>
    </span>
    <br>
    <input type="number" ng-model="newParty.partySize" ng-class="{'add-error-underline': addErrors.partySize}" placeholder="Party Size..."/>
    <span class="add-error" ng-show="addErrors.partySize" ng-class="{'add-error-text-opacity': addErrors.partySize}">
        This field is required.
        <br>
    </span>
    <br>
    <input type="text" ng-model="newParty.phone" phone-input
           placeholder="Phone Number (optional)..."/>
    <br>
    <button class="button button-stable add-button add-button-cancel" ng-click="cancel()">Cancel</button>
    <button class="button button-positive add-button add-button-add" ng-click="add()">Add</button>
</div>
