<style>
    .mybtn {
        width: 100%;
        margin-bottom: 1vh;
    }

    .tracker {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 4vh;
        text-align: center;
    }

    .btn-box {
        margin-top: 5vh;
    }

    .left-col {
        width: 50%;
        /*border: 1px solid blue;*/
        float: left;
        padding-right: 2vw;
    }

    .right-col {
        width: 50%;
        /*border: 1px solid hotpink;*/
        float: right;
        padding-left: 2vw;
    }
</style>

<div class="jumbtron">
    <h1>
        Settings
        <button class="btn btn-lg btn-danger pull-right" ng-click="exitPage()" style="margin: 0 10px 0 10px;">EXIT</button>
        <button class="btn btn-lg btn-warning pull-right" ng-click="refreshCurrentPage()" style="margin: 0 10px 0 10px;">REFRESH</button>
    </h1>
</div>

<div style="margin-top: 5vh">

    <div class="tracker" style="font-size: 3vh">Game Status: {{ model.gameState }}</div>
    <div class="tracker">Tiles Picked: {{ tilesPicked }} of 100</div>

    <!-- Always fixed for SBLI -->
    <!--<div class="btn-box">-->
        <!--<button class="btn btn-lg btn-info mybtn" ng-click="fixedPicksGamemode()">FIXED PICKS GAMEMODE</button>-->
        <!--<button class="btn btn-lg btn-info mybtn" ng-click="maxPicksGamemode()">MAX PICKS GAMEMODE</button>-->
    <!--</div>-->

    <div class="btn-box">
        <button class="btn btn-lg btn-info mybtn" ng-click="startGame()">LOCK SALES AND START PLAYING</button>
        <!--<button class="btn btn-lg btn-warning mybtn" ng-click="newGame()">CREATE NEW GAME</button>-->
    </div>

    <div class="btn-box">
        <button class="btn btn-lg btn-success mybtn" ng-click="viewResultsPage()">VIEW RESULTS PAGE</button>
    </div>

    <div class="btn-box">
        <button class="btn btn-lg btn-info mybtn" ng-click="editTeamNames()">EDIT TEAM NAMES</button>
        <button class="btn btn-lg btn-warning mybtn" ng-click="manuallySetScores()">MANUALLY SET SCORES</button>
        <button class="btn btn-lg btn-danger mybtn" ui-sref="advsettings">ADVANCED SETTINGS</button>
    </div>

</div>
