<!DOCTYPE html>
<html ng-app="oktoberfestConApp">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="../../../../common/bower_components/angular/angular.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>


    <!-- App Main and AngularJS Routes -->
    <script src="app/OktoberfestControlApp.module.js"></script>
    <script src="../../../../common/js/ogAPI.js"></script>

    <!-- Controllers -->
    <script src="app/OktoberfestConController.js"></script>

    <!-- App Specific and Overridden CSS -->
    <!--<link href="assets/css/style.css" rel="stylesheet">-->
    <link href="assets/css/styles.css" rel="stylesheet">


    <title>Oktoberfest</title>

    <!--<link href="assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->


    <title>Oktoberfest Control</title>
</head>

<body ng-controller="okConController">

<div class="wilkommen">Wilkommen zum Bier Pong</div>
<img class="ball"  ng-class="{ 'drop': hideStart, 'done': done }" ng-click="message('drop')" src="assets/img/pongball.png"/>
<img class="start" ng-click="start()" ng-hide="hideStart" src="assets/img/start.png"/>
<div class="tap" ng-hide="hideStart">Press START then tap the ball to drop Ping Pong balls in the stein!</div>
<div class="over" ng-hide="!done">Game Over</div>
<!--<button ng-click="message('start')">Start</button>-->
<!--<br>-->
<!--<button ng-click="message('reset')">Reset</button>-->
<!--<br>-->
<!--<button ng-click="message('drop')">Drop Ball</button>-->
<!--<br>-->


</body>
</html>