@font-face {
    font-family: "Kraut";
    src: url('../fonts/FetteUNZFraktur.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: "EXOBLACK";
    src: url('../../../../../../common/fonts/Exo_2/Exo2-Bold.ttf');
}

@font-face {
    font-family: "EXOREG";
    src: url('../../../../../../common/fonts/Exo_2/Exo2-Regular.ttf');
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'EXOBLACK', monospace;
    height: 100%;

}

.op0 {
    opacity: 0;
}

.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: #1c87ff;
    color: white;
}

#game {

    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    /*border: 2px solid #57b4ff;*/
    position: relative;
    overflow: hidden;
}

.gm-hdr {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #000;
    color: white;
    font-family: Kraut, monospace;
    text-align: center;
    /*line-height: 15%;*/
    font-size: 30px;


}

.gm-score {
    position: absolute;
    top: 76%;
    left: 0px;
    height: 24%;
    width: 100%;
    background-color: #000;
    color: white;
}

.score-hdr {
    position: absolute;
    top: 10%;
}

.score-hdr.balls {
    left: 12%;
}

.score-hdr.time {
    left: 43%;
}

.score-hdr.score {
    left: 70%;
}

.score-val {
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: yellow;
}

.score-val.balls {
    left: 11%;
}

.score-val.time {
    left: 41%;
}

.score-val.score {
    left: 73%;
}

.logo {

    position: absolute;
    top: 55%;
    left: 20%;
    width: 60%;
}

.gm-msg {

    position: absolute;
    top: 35%;
    width: 100%;
    font-size: 50px;
    color: aquamarine;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.53);
    transition: opacity 0.5s;
    opacity: 1;
}

.op0 {
    opacity: 0;
}