<style>
    .og-logo {
        width: 70%;
        margin: 20vh auto;
        display: block;
    }

    .reg-button-holder {
        display: flex;
        top: 50vh;
        width: 100%;
        /*border: 1px solid white;*/
    }

    .reg-button-holder > a {
        background-color: #00dbee;
        font-size: 50px;
        margin: 0 10vw 0 10vw;
        width: 100%;
        text-align: center;
        color: white;
        padding: 10px 10px 10px 10px;
    }

</style>

<img class="og-logo" src="assets/img/Ourglass_LOGO_RGB_WHT.png"/>

<div class="reg-button-holder animated bounce">
    <a class="reg-button" style="border-radius: 5px;" ng-click="clicked()">TAP TO START</a>
</div>
