<!DOCTYPE html>
<html ng-app="optvWaitListApp">
<head lang="en">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="../../../../common/bower_components/angular/angular.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>

    <script src="assets/bower_components/angular-timeago/dist/angular-timeago.min.js"></script>

    <!-- App Main and AngularJS Routes -->
    <script src="app/optvWaitListApp.module.js"></script>
    <script src="../../../../common/js/optvAPILime.js"></script>

    <!-- Controllers -->
    <script src="app/components/waitlist/WaitlistController.js"></script>

    <!-- App Specific and Overridden CSS -->
    <!--<link href="assets/css/style.css" rel="stylesheet">-->
    <link href="assets/css/styles.css" rel="stylesheet">


    <title>OPTV Waiting List</title>
</head>

<body>

<!-- semis skeuomorph look -->
<div class="mainContainer" ng-controller="waitlistController">

    <!--<div class="party" ng-repeat="party in parties() track by $index" ng-class="{'party-bottom': $index==parties().length-1}">-->
        <!--<span class="index">#{{$index+1}}</span>-->
        <!--<div class="info">-->
            <!--<b class="name">{{party.name}} for {{party.partySize}}</b>-->
            <!--<i class="time">{{party.dateCreated | timeAgo}}</i>-->
        <!--</div>-->
    <!--</div>-->

    <div class="party" ng-repeat="party in parties() track by $index" ng-class="{'party-bottom': $index==parties().length-1}">
        <span class="index">#{{$index+1}}</span>
        <div class="info">
            <span class="name">table for <b>{{party.name}}</b></span>
            <span class="party-size">party of <b>{{party.partySize}}</b></span>
        </div>
    </div>

</div>

</body>
</html>