<style>
    .party-holder {
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        width: 100%;
        padding: 1%;
        margin-top: 1%;
    }
    .party-num {
        color: #303030;
        background-color: white;
        padding: 2%;
        border-radius: 3px;
    }
    .party-time {
        font-size: 75%;
        color: #a0a0a0;
    }

    .party-controls {
        margin-top: 2%;
    }

    .table-ready {
        color: darkorange;
    }

    .party-controls.ng-enter,
    .party-controls.ng-leave.ng-leave-active {
        transform: scaleY(0);
        transition: all .35s;
    }

    .party-controls.ng-leave,
    .party-controls.ng-enter.ng-enter-active {
        transition: all .35s;
        transform: scaleY(1);
    }

</style>

<div class="party-holder" ng-click="tapped()">
    <div class="party-name" ng-class="{ 'table-ready': party.tableReady }">
        {{party.name}}  <span class="pull-right party-num">{{party.partySize}}</span>

    </div>
     <div class="party-time">{{party.dateCreated | timeAgo}}</div>
    <div class="party-controls" ng-if="showControls">
        <button class="btn btn-primary" ng-click="sit()">{{ party.tableReady ? "SIT":"TABLE READY" }}</button>
        <button class="btn btn-danger pull-right" ng-click="remove()">DELETE</button>
    </div>
</div>

